body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ecf0f1;
  font-weight: 300;
}

main {flex: 1 0 auto;}


.footer-bg{  }
.sidenav{}

.sidenavbg {
  height: 100vh;
  background-image: url('../favicon.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  background-size: 90% auto;
}

#sidenavtitle {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.5em;
  padding-left: 16px;
}

li#sidenavlanguage a {
  padding-right: 0px !important;
    padding: 0 16px !important;
  float: right !important;
  opacity: 0.5;
}

li#sidenavlanguage a:hover {
  opacity: 1;
}


.tag-title{
  text-transform: uppercase !important;
  padding: 0.1em;
  display: inline-block;
}
.tag-btn{
  text-transform: uppercase !important;
  padding: 0.1em;
  color: #0d6efd !important;
  opacity: 0.5;
  display: inline-block;
}
.tag-btn:hover{
  cursor: pointer;
  opacity: 1;
  
}

nav.black-text {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0),0 3px 1px -2px rgba(0,0,0,0),0 1px 5px 0 rgba(0,0,0,0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.0),0 3px 1px -2px rgba(0,0,0,0),0 1px 5px 0 rgba(0,0,0,0);
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  top: 0px;
  padding-top: 15px;
  margin-top: 0;
  z-index: 997;
}


.filtr-item img.responsive-img {border-radius: 10px;}


.filtr-item .project-title {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.filtr-item .project-link {
  font-family: 'Roboto Slab', serif !important;
 font-weight: 300 !important;
  text-transform: uppercase;
    color: black !important;
  font-size: 1.5em !important;
  opacity: 0.5;
  line-height: normal;
  }
 .project-link:hover {opacity: 1;}



.amatic {
  /* font-family: "Amatic SC", sans-serif !important; */
font-family: 'Roboto Slab', serif !important;
 font-weight: 400 !important;
  font-style: normal;
}

.amatic-bold {
  /* font-family: "Amatic SC", sans-serif !important; */
font-family: 'Roboto Slab', serif !important;
  font-weight: 700 !important;
  font-style: normal;
}


.filtr-item:hover .responsive-img {opacity: 0.3; filter:blur(0.5em);}

.filtr-item:hover .project-title {opacity: 1;transition-duration: 500ms;}


.filtr-item {
  margin-bottom: 15px; /* ajusta o valor conforme precisares */
}

.intervir {
  font-family: 'Roboto Slab', serif !important;
  color: black !important;
  font-weight: 900 !important;
  }

  .label{
/* font-family: "Amatic SC", sans-serif !important; */
  font-weight: 600 !important;
  color: #000000 !important;
    
  }


h4{font-family: 'Roboto Slab', serif !important;
  font-weight: 900 !important;}

  .italic {font-style: italic;}


  .sidenav li > a {
   font-weight: 300 !important;
text-transform: uppercase !important;
 }

.sidenav-trigger {opacity: 0.5;}
.sidenav-trigger:hover {opacity: 1;}


.production-label{text-transform: uppercase; font-size: smaller; float: left; text-align: center; white-space:nowrap; margin-right: 1em;}
.done{color: #4CAF50 !important;}
.doing{color: #dbba00 !important;}
.undone{color: #4caf4f00 !important;}


