body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
  font-weight: 300;
}

main {flex: 1 0 auto;}

.active{background-color: #f00; opacity:1}

.footer-bg{  }
.sidenav{}

.sidenavbg {
  height: 100vh;
  background-image: url('../favicon.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  background-size: 90% auto;
}

#sidenavtitle {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.5em;
  padding-left: 16px;
}

li#sidenavlanguage a {
  padding-right: 0px !important;
    padding: 0 16px !important;
  float: right !important;
  opacity: 0.5;
}

li#sidenavlanguage a:hover {
  opacity: 1;
}


.tag-title{
  text-transform: uppercase !important;
  padding: 0.1em;
  display: inline-block;
}
.tag-btn{
  text-transform: uppercase !important;
  padding: 0.1em;
  color: #0d6efd !important;
  opacity: 0.5;
  display: inline-block;
background-color: #f00; 
}
.tag-btn:hover{
  cursor: pointer;
  opacity: 1;
  
}

nav.black-text {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0),0 3px 1px -2px rgba(0,0,0,0),0 1px 5px 0 rgba(0,0,0,0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.0),0 3px 1px -2px rgba(0,0,0,0),0 1px 5px 0 rgba(0,0,0,0);
}

.fixed-action-btn {
  position: fixed;
  right: 23px;
  top: 0px;
  padding-top: 15px;
  margin-top: 0;
  z-index: 997;
}


.project-title {
  font-family: 'Roboto Slab', serif !important;
 font-weight: 900 !important;
  color: rgb(36, 36, 36) !important;
  font-size: 1em !important;
  
  }

 .project-link {opacity: 1; filter: saturate(20%); transition: 0.5s ease-out, width 1ms;}
 
 .project-link:hover {opacity: 1;filter: saturate(100%);}

 .card-content {padding-left: 0px !important; padding-top: 0px !important;}


.amatic {
  /* font-family: "Amatic SC", sans-serif !important; */
font-family: 'Roboto Slab', serif !important;
 font-weight: 400 !important;
  font-style: normal;
}

.amatic-bold {
  /* font-family: "Amatic SC", sans-serif !important; */
font-family: 'Roboto Slab', serif !important;
  font-weight: 700 !important;
  font-style: normal;
}



.filtr-item {
  margin-bottom: ; /* ajusta o valor conforme precisares */
}

.intervir {
  font-family: 'Roboto Slab', serif !important;
  color: black !important;
  font-weight: 900 !important;
  }

.title {
  font-family: 'Roboto Slab', serif !important;
  color: black !important;
  font-weight: 900 !important;
font-size: 4.2rem;
  line-height: 110%;
  margin: 2.8rem 1rem 1.68rem 0;
}

.subtitle {
  font-family: 'Roboto Slab', serif !important;
}

  .label{
/* font-family: "Amatic SC", sans-serif !important; */
  font-weight: 600 !important;
  color: #000000 !important;
    
  }


h4{font-family: 'Roboto Slab', serif !important;
  font-weight: 900 !important;}

  .italic {font-style: italic;}


  .sidenav li > a {
   font-weight: 300 !important;
text-transform: uppercase !important;
 }

.sidenav-trigger {opacity: 0.5;}
.sidenav-trigger:hover {opacity: 1;}


.production-label{text-transform: uppercase; font-size: smaller; float: left; text-align: center; white-space:nowrap; margin-right: 1em;}
.done{color: #4CAF50 !important;}
.doing{color: #dbba00 !important;}
.undone{color: #4caf4f00 !important;}


.card{background-color: #0000 !important;}

.tags{text-transform: uppercase; font-size: smaller; margin-right: 1em; color: grey;}